.memeBox{
  background-color: #DC6B19;
  margin: 3rem auto;
  width: 50%;
  border-radius: 5%;
}

.inputBox{
  gap: 10%;
  padding-top: 3rem;
}

.inputBox > input{
  line-height: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 35%;
  border-radius: 5px;
  background-color: #FFF8DC;
  padding: 0.3rem;
}

.form-button{
  width: 70%;
  padding: 0.5rem;
  background-color: #F7C566;
  color: #6C0345;
  font-weight: 800;
  font-size: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}

.meme-text{
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 2rem;
}

.top {
  top: 0;
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
  margin-bottom: 2rem;
}
